@font-face 
{
    font-family: "CofeeTin";
    src: url("../fonts/CoffeetinInitials-YXJ2.ttf");
}

*
{
    margin: 0;
    padding: 0;
}

.container
{
    width: 100%;
    text-align: center;
}

#navigate-to-menu-btt
{
    border: none;
    outline: none;
    background: none;
    font-size: 3rem;
    font-weight: bold;
    color: #696969;
    position: absolute;
    top: 10;
    left: 30;
}

.container h3
{
    padding: 20px;
}

.flex-blackjack-row1, .flex-blackjack-row2
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    background: url('../img/table.jpg') center;
    color: #f1f1f1;
}

.flex-blackjack-row1 div
{
    flex: 1;    /* same proportions between divs in flex row */
    padding: 10px;
    text-align: center;
    height: 550px;
}

#your-box
{
    border-right: 3px solid #f1f1f1;
}

.flex-blackjack-row1 img
{
    height: 25%;
    padding: 10px;
}

.flex-blackjack-row2 button
{
    width: 200px;
}

.flex-blackjack-row3
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;;
}

.flex-blackjack-row3 table
{
    margin-top: 30px;
    text-align: center;
}

.flex-blackjack-row3 table th, td
{
    font-size: 25px;
    padding: 10px;
    margin: 5px;
}

#your-box img
{
    z-index: 10;
    border-radius: 15px;
}

.menu
{
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-header
{
    height: 30%;
    margin-top: 10%;
    font-family: "CofeeTin";
    font-size: 120px;
}

.menu button
{
    border: none;
    outline: none;
    font-size: 68px;
    font-weight: bold;
    color: #696969;
    padding: 2rem;
    transition: ease .5s;
}

.menu button:hover
{
    color: #A9A9A9;
}

.rules
{
    display: none;
    background-color: #1c1c1c;
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
}

.rules p
{
    color: #f1f1f1;
    font-size: 2rem;
}

.rules button
{
    color: #f1f1f1;
    border: none;
    outline: none;
    background: none;
    position: absolute;
    top: 20;
    right: 40;
    font-size: 3rem;
    font-weight: bold;
    transform: rotate(45deg);
}